.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #424242;
  padding: 10px;
}

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: #e0e0e0;
  color: black;
  cursor: pointer;
  padding: 10px 15px;
  display: inline-block;

  text-transform: uppercase;
  /* letter-spacing: 1px; */
  border-radius: 4px;
  font-size: 14px;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:disabled {
  background-color: #595959;
  color: #8a8a8a;
}

.datatable {
  margin: 0px;
  background: #424242;
}

.datatable thead,
.compare {
  background: #303030;
  border-color: #303030;
}

.datatable th,
.datatable td {
  padding: 20px 20px;
  cursor: pointer;
  text-align: center;
}

.compare td {
  padding: 15px 5px;
}

.selected {
  background: #603d46;
}

.tag {
  border-radius: 8px;
  padding: 5px;
}

.red {
  background-color: #f50258;
  text-decoration: line-through;
  margin-right: 2px;
}

.blue {
  background-color: #3f51b5;
  margin-left: 2px;
}
