.datatable {
  margin: 20px 0;
  background: #424242;
}

.datatable thead {
  background: #303030;
  border-color: #303030;
}

.datatable th,
.datatable td {
  padding: 20px 20px;
  cursor: pointer;
  text-align: center;
}

.selected {
  background: #603d46;
}
