.notificationContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.progressIndicator {
  max-height: 3px;
  background-color: #fff;
}
